body{background-image:url(fog2.jpg);
	background-size:100% 500%;
	background-repeat:no-repeat;}
h2{text-align:center;
	color:#1959E3;
	font-family:arial;
	padding:15px;
	margin-left:520px;
	margin-right:520px;
	background-color:#D1CFCB;
	border:green 3px double;}
p{line-height:125%;}
