html{height:100%;}
body{height:100%;
	background-image:url(halffog.png);
	background-size:100% 100%;
	background-position:top right;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-color:black;
}
div.header{color:white;
	font-family:arial;
	padding:3px;
	margin-top:4px;
	margin-left:-8px;
	margin-right:-8px;
	background-color:rgba(255, 255, 255, 0.0);
	border-bottom:#306E82 2px solid;
	border-radius:0px;
	overflow:visible;
	transition:1s;
}

div.footer{
	bottom:-30px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	padding-left:31%;
	padding-right:31%;
}

ul{	list-style-type:none;
	margin:0px;
	padding:0px;
	border-radius:15px;
	font-weight:500;
	text-shadow:-1px 1px 0px #C9C9C9;
}

ul.socialMedia{
	float:left;
	border-left:none;
	margin-top:16px;
}

li{	text-decoration:none;
	font-size:36px;
	margin:0px;
	padding:6px;
	display:inline-block;
	transition:0.3s;
}

li.navbar:hover{-webkit-transform: rotate(-15deg) scale(1.7);
-ms-transform: rotate(-15deg) scale(1.7);
transform: rotate(-15deg) scale(1.7);
}

li.socialMedia{
	display:block;
}

a{
	text-decoration: none;
}

a:visited{
	color:#00B8F0;
}

a.navbar{color:white;
	display:block;

}

a.navbar:hover{color:#A1F0EA;
		text-shadow:-1px 1px 8px #77EDE4;
}

div{line-height:125%;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:15px;
	padding-right:15px;
	border:90px;
	margin:30px;
	margin-top:15px;
	background-color:rgba(255, 255, 255, 0.15);
	border-radius:15px;
	position:relative;
	overflow:hidden;
}


div.main{
	font-family:arial;
	font-size:20px;
	border-style:solid;
	border-width:2px;
	border-color:#85ACC7;
	opacity:0.7;
	width:91%;
	float:right;
	margin-top:-10px;
	margin-left:0px;
}

div.contact{
	font-family:arial;
	font-size:20px;
	border-style:solid;
	border-width:2px;
	border-color:#85ACC7;
	opacity:0.7;
	width:50%;
	float:right;
	margin-top:-10px;
	margin-left:0px;
	left:-20%;
}

h2#header{
	color:#E4F2F1;
	margin:3px;
	padding-right:30px;
	float:left;
	font-size:50px;
}

p{color:white;
	text-align:center;
	padding:2px;
	margin:2px;
	display:inline-block;
}

p#about{
	text-align:left;
	float:right;
	position:absolute;
	top:100px;
	margin-right:450px;
}

img#me{
	height:25%;
	width:25%;
	float:right;
	margin:30px;
	margin-right:40px;
}

span{height:100%;
	min-height:100%;
	margin-bottom: -330px;
	position: relative;
}

.clear{visibility:hidden;
	height:100%;
}