body{background-image:url(halffog.png);
	background-size:100% 100%;
	background-position:top right;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
div.header{color:white;
	font-family:arial;
	padding:10px;
	margin-top:-8px;
	margin-left:-8px;
	margin-right:-8px;
	background-color:#449BB8;
	border-bottom:#306E82 2px solid;
	border-radius:0px;
	overflow:visible;
	background-image:url(test.png)
}
ul{list-style-type:none;
	margin:0px;
	padding:0px;
	border-radius:15px;
	font-weight:500;
	text-shadow:-1px 1px 0px #C9C9C9;
}

ul.socialMedia{
	float:left;
}

li{	text-decoration:none;
	font-size:36px;
	margin:-4px;
	padding:4px;
	display:inline-block;
}

li:hover{-webkit-transform:rotate (-20deg) scale(1.2);}

li.navbar{
	border-right:solid;
	border-bottom:solid;
	border-color:black;
	border-width:2px;
	border-color:#7ECCC7;
	border-bottom-right-radius:10px;
}

a{color:white;
	text-decoration: none;

}

a:hover{color:#A1F0EA;
		text-shadow:-1px 1px 8px #77EDE4;
}
a#noPDF{
	color:blue;
	text-decoration:underline;
	text-shadow:0px 0px 0px #77EDE4;
}

div{line-height:125%;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:15px;
	padding-right:15px;
	border:90px;
	margin:30px;
	margin-top:15px;
	background-color:rgba(255, 255, 255, 0.4);
	border-radius:15px;
	position:relative;
	overflow:hidden;
}


div.main{
	font-family:arial;
	font-size:20px;
	border-style:solid;
	border-width:2px;
	border-color:#85ACC7;
	opacity:0.7;
}

h2#header{
	color:#E4F2F1;
	margin:3px;
	padding-right:30px;
	float:left;
	font-size:50px;
}

p{color:white;
	text-align:center;
	padding:2px;
	margin:2px;
}