body{background-image:url(fog2.jpg);
	background-size:100% 100%;
	background-position:top right;
	background-repeat:no-repeat;
	background-attachment:fixed;
	cursor:url(facecursor.png);}
div.header{color:white;
	font-family:arial;
	padding:10px;
	margin-top:-8px;
	margin-left:-8px;
	margin-right:-8px;
	background-color:#449BB8;
	border-bottom:#306E82 2px solid;}
ul{list-style-type:none;
	margin:0;
	padding:0;}
div.main{line-height:125%;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:15px;
	padding-right:15px;
	margin:30px;
	border:90px;
	background-color:#F5F5F5;
	border-radius:15px;}
