body{
	background-color:black;
}

a.face{margin-left:40%;
	margin-top:8%;
	width:300px;
	height:420px;
	display:block;
	background:transparent url('face.png') center top no-repeat;
}

div{transition:2s;
}

div:hover{
	-webkit-transform:rotate(-1080deg)scale(1.4);
	-ms-transform:rotate(-1080deg)scale(1.4);
	transform:rotate(-1080deg)scale(1.4);
}

a.face:hover{
	background-image:url('face_hover.png');
}